@use "../layout/_gridsystem" as *;
.categories {
  background-color: #f0f8fc;
  padding: 5rem 0px;
}
.category-list {
  @include flex($justify-content: space-between);
  flex-wrap: wrap;
}
.category-title {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0px;
}
.dellivery-section {
  padding-top: 5rem;
}
.delivery-card {
  @include flex($justify-content: space-between);
}
.delivery-description {
  overflow: hidden;
  position: relative;
}
.delivery-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1.4s ease;
  padding: 4rem 0px;
}
.deliery-cta {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customer-favorites {
  padding-bottom: 5rem;
}

.cutomer-title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3rem 0px;
  text-align: center;
  padding-bottom: 0.8rem;
}
.customer-cards {
  @include flex($justify-content: space-between);
  flex-wrap: wrap;
}
.customer-loads {
  @include flex($justify-content: center);
  flex-direction: column;
  &__des {
    margin-bottom: 2rem;
    p {
      font-size: 1.2rem;
    }
  }
  &__btn {
    padding-bottom: 3rem;
  }
}
.brands {
  background-color: #f0f8fc;
  padding: 6rem 0px;
  border-bottom: 1px solid #dedede;
}
.brands-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1rem 0px;
  text-align: center;
  h3 {
    font-weight: 400;
  }
}
.brands-lists {
  padding-top: 4rem;
  padding-bottom: 2rem;
  @include flex($justify-content: space-between);
  &__img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
